[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/jbarno/oh-my-zsh.git
[submodule ".git-templates"]
	path = .git-templates
	url = https://github.com/jbarno/git-templates.git
[submodule ".pyenv-installer"]
	path = .pyenv-installer
	url = https://github.com/pyenv/pyenv-installer.git
[submodule ".YouCompleteMe"]
	path = .YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
