[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/jbarno/oh-my-zsh.git
[submodule ".git-templates"]
	path = .git-templates
	url = https://github.com/jbarno/git-templates.git
[submodule ".YouCompleteMe"]
	path = .YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule ".nvm"]
	path = .nvm
	url = https://github.com/creationix/nvm.git
[submodule ".tmux-resurrect"]
	path = .tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule ".pyenv_cfg"]
	path = .pyenv_cfg
	url = https://github.com/pyenv/pyenv
